@import "./colors.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  row-gap: 3.5rem;
  width: 95%;

  .textContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem 0 0 0;
    text-align: center;

    .title {
      font-size: 2.1rem;
      color: $white;
      font-weight: 600;
    }

    .desc {
      font-size: 1.3rem;
      font-weight: 400;
      color: $white;
      letter-spacing: 0.5px;
      opacity: 0.9;
      line-height: 1.6;
    }
  }

  .signupContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    .offerBtn {
      align-items: center;
      background-color: $blue;
      border-radius: 6px;
      border: none;
      box-shadow: 0 6px 0 0 #b85a5aab;
      display: flex;
      flex-direction: column;
      font-size: 1.3rem;
      padding: 1.5rem 0;
      row-gap: 1rem;
      width: 100%;
      letter-spacing: 0.5px;

      span:first-child {
        color: $white;
        font-weight: 600;
      }

      span:last-child {
        color: $white;
        opacity: 0.9;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .mainContainer {
    width: 60rem;
    row-gap: 5.5rem;

    .textContainer {
      .title {
        font-size: 2.5rem;
      }

      .desc {
        font-size: 1.7rem;
        letter-spacing: 0.8px;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .mainContainer {
    align-items: center;
    flex-direction: row;
    max-width: 108rem;
    width: 70%;
    column-gap: 1.5rem;

    .textContainer {
      width: 50%;
      text-align: left;
      row-gap: 2.5rem;

      .title {
        font-size: 4rem;
        line-height: 1.1;
      }
    }

    .signupContainer {
      width: 50%;

      form {
        padding: 3rem;
      }
    }
  }
}
