@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url("./assets/bg-intro-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
}

#root {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  body {
    background: url("../src/assets/bg-intro-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
  }
}
